.row
  .large-12.columns
    %h2 Sign in
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'custom' }) do |f|
      .row
        .small-3.columns
          = f.label :email, class: 'right inline'
        .small-9.columns
          = f.email_field :email, :autofocus => true
      .row
        .small-3.columns
          = f.label :password, class: 'right inline'
        .small-9.columns
          = f.password_field :password
      - if devise_mapping.rememberable?
        .row
          .small-3.columns
          .small-9.columns
            %label{ for: "#{resource_name}_remember_me" }
              = f.check_box :remember_me, style: 'display: none'
              %span.custom.checkbox
              Remember me
      .row
        .small-3.columns
        .small-9.columns
          = f.submit "Sign in", class: 'button right'
    = render "devise/shared/links"
